#container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}
.nav{
    align-self: flex-end;
}
.logo{
    align-self: center;
    padding-top: 200px;
}
.search-bar{
    align-self: center;
}
.text-box{
    display: flex;
    border: 2px solid red;
    height: 40px;
    width: 550px;
    border-radius: 50px;
    border: .5px solid gainsboro;
}
.text-field{
    width: 500px;
    margin-left: 20px;
    border-radius: 50px;
    border: none;
    box-sizing: content-box;
    line-height: 36px;
    background-color: black transparent;
    transition: box-shadow .3s;
   
}
.text-box:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2);

}
.icon{
    width: 20px;
    height: 20px;
    position: relative;
    top: 10px;
    left: 15px;
    color: gray;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}
li{
    display: inline-block;
    padding: 20px;
    
}
li a{
    text-decoration: none;
    color: black;
}
.grid{
    color: black;
    position:relative;
    top: 2px;
    width: 20px;
    height: 20px;
}
.search{
    position: relative;
    left: 70px;
    padding: 8px 25px;
    margin: 20px 14px;
    border-radius: 4px;
    border: 1px solid #f2f2f2;
    background-color:#f2f2f2;
}
.footer-left{
    position:absolute;
    left: 0;
    bottom: 0;
}
.footer-right{
    position: absolute;
    right: 0;
    bottom: 0;
}